#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
}
.products-container__item {
  height: 80%;
  width: 23vw;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.products-container__img {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 5 / 3;
  object-position: center;
}
